<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>
<body>
    <div id="navbar" style=" z-index: 1; max-width:100% !important; opacity: .98; height: 70px !important; padding-top: 22px; padding-right: 5%; background-color: #367C2B; position: fixed;"
    class="container sticky">
    <div class="row">
      <div class="col-8" style="width: auto;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a id="link1" href="/Dashboard"
          style="text-decoration: none !important;color:white;cursor:pointer;">Dashboard</a> &nbsp;&nbsp;
        <a id="link2" href="/Parts"
          style="text-decoration: none !important;color:white;cursor:pointer;">Parts</a> &nbsp;&nbsp;
        <a id="link3" href="/Equipment"
          style="text-decoration: none !important;color:white;cursor:pointer;">Equipment</a> &nbsp;&nbsp;
          <a id="link5" href="/Suppliers"
          style="text-decoration: none !important;color:white;cursor:pointer;">Suppliers</a> &nbsp;&nbsp;
          <a id="link5" href="/Locations"
          style="text-decoration: none !important;color:white;cursor:pointer;">Locations</a> &nbsp;&nbsp;
          <a id="link5" href="/Admin"
          style="text-decoration: none !important;color:white;cursor:pointer;">Admin</a> &nbsp;
        </div>
      <div class="col-sm" style="position: relative;  width:auto; text-align: right;">
        <a id="link4" href="/Logout"
          style="position: relative; text-decoration: none !important;color:white;cursor:pointer;">Log Out</a>
      </div>
    </div>
  </div>
  <br>

    <div align="right" style="padding-left: 5%; padding-right: 5%; margin-right: 0%;padding-top: 70px;">
        <table id="example" class="display" ></table>
    </div>
    <br>

    <footer style="height: 200px;">
        <br>
        <div align="center">
            This software is property of BrentCo, SCLewis Farms, and Brad Enterprises.
        </div>
    </footer>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Are You Sure?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-footer">
                <div style="position: relative; margin-right: 320px;">
                    <button style="text-align: left;" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div style="position: relative; ">
                    <button style="text-align: left;" type="button" class="btn btn-danger" onclick="deleteSupplier()" data-dismiss="modal">Confirm</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="ModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Update Supplier</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" >Name</span>
                    </div>
                    <input type="text" id="supplierName" class="form-control">

                  </div><br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Email</span>
                    </div>
                    <input type="text" id="supplierEmail" class="form-control">

                  </div><br>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Phone Number</span>
                    </div>
                    <input type="text" id="supplierPhone" class="form-control">

                  </div><br>

            </div>
            <div class="modal-footer">
                <div style="position: relative; margin-right: 340px;">
                    <button style="text-align: left;" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div>
                    <button type="button" class="btn btn-warning" onclick="updateSupplier()">Save</button>
                </div>
              </div>
          </div>
        </div>
      </div>
<div id="div_data" style="display: none">

</div>
</body>
<script>
    var dataSet = [["teset", "test", "test", "John Deere" ],["teset", "test", "test", "John Deere"]
    ];

$(document).ready(function() {
    $('#example').DataTable( {
        type: "GET",
        ajax: {
            url: location.origin + "/Suppliers/Data",
            dataSrc: "data"

        },
        bAutoWidth: false,
        columns: [
            { data: "name", title: "Name" },
            { data: "email", title: "Email" },
            { data: "phone", title: "Phone Number" },
            {
                data: "id",
                sWidth: "150px",
                render: function ( data, type, row ) {
                return '&nbsp<button onclick="getParts('+data+')" type="button" class="btn btn-warning">Update</button>&nbsp<button onclick="deleteParts('+data+')" type="button" class="btn btn-danger">Delete</button>';
            }
        }
        ]
    } );
} );
</script>
<script>
    function getParts(data) {
        item = {id: data}
        $("#div_data")[0].innerHTML = data
        $.ajax({
            type: "POST",
            url: location.origin+"/Suppliers/Get",
            data: "sendData=" + JSON.stringify(item),
            dataType: "json",
            success: function (data) {
                $('#supplierName').val(data.name)
                $('#supplierEmail').val(data.email)
                $('#supplierPhone').val(data.phone)

                $("#ModalCenter4").modal()
            },
            error: function () {
              alert("OPERATION FAILED. TRY AGAIN")
            }
          });

    }
</script>
<script>
    function deleteParts(data) {
        $("#div_data")[0].innerHTML = data
        $("#exampleModalCenter").modal()
    }
</script>
<script>
    function deleteSupplier() {
        data = {id:  $("#div_data")[0].innerHTML}
        $.ajax({
            type: "POST",
            url: location.origin+"/Suppliers/Delete",
            data: "sendData=" + JSON.stringify(data),
            dataType: "json",
            success: function (data) {
                $("#exampleModalCenter").modal('toggle')
                location.reload()
            },
            error: function () {
              alert("OPERATION FAILED. TRY AGAIN")
            }
          });
    }
</script>
<script>
    function updateSupplier() {
        data = {name: $('#supplierName').val(), email: $('#supplierEmail').val(), phone: $('#supplierPhone').val(), id: $("#div_data")[0].innerHTML}
        console.log(data)
        $.ajax({
            type: "POST",
            url: location.origin+"/Suppliers/Update",
            data: "sendData=" + JSON.stringify(data),
            dataType: "json",
            success: function (data) {
                $("#ModalCenter4").modal('toggle')
                location.reload()
            },
            error: function () {
              alert("OPERATION FAILED. TRY AGAIN")
            }
          });
    }
</script>
</html>