<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>
<body>
    <div id="navbar" style=" z-index: 1; max-width:100% !important; opacity: .98; height: 70px !important; padding-top: 22px; padding-right: 5%; background-color: #367C2B; position: fixed;"
    class="container sticky">
    <div class="row">
      <div class="col-8" style="width: auto;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

       <a id="link1" href="/Dashboard"
          style="text-decoration: none !important;color:white;cursor:pointer;">Dashboard</a> &nbsp;&nbsp;
        <a id="link2" href="/Parts"
          style="text-decoration: none !important;color:white;cursor:pointer;">Parts</a> &nbsp;&nbsp;
        <a id="link3" href="/Equipment"
          style="text-decoration: none !important;color:white;cursor:pointer;">Equipment</a> &nbsp;&nbsp;
          <a id="link5" href="/Suppliers"
          style="text-decoration: none !important;color:white;cursor:pointer;">Suppliers</a> &nbsp;&nbsp;
          <a id="link5" href="/Locations"
          style="text-decoration: none !important;color:white;cursor:pointer;">Locations</a> &nbsp;&nbsp;
          <a id="link5" href="/Admin"
          style="text-decoration: none !important;color:white;cursor:pointer;">Admin</a> &nbsp;
        </div>
      <div class="col-sm" style="position: relative;  width:auto; text-align: right;">
        <a id="link4" href="/Logout"
          style="position: relative; text-decoration: none !important;color:white;cursor:pointer;">Log Out</a>
      </div>
    </div>
  </div>
  <br>

    <div align="right" style="padding-left: 5%; padding-right: 5%; margin-right: 0%;padding-top: 70px;">
        <table id="example" class="display" ></table>
    </div>
    <br>

    <footer style="height: 200px;">
        <br>
        <div align="center">
            
        </div>
    </footer>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">How Many Would You Like To Checkout?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Quantity</label>
                    <select class="form-control" id="FormSelect1">

                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Which Machine?</label>
                    <select class="form-control" id="FormSelect2">

                    </select>
                  </div>


            </div>
            <div class="modal-footer">
                <div style="position: relative; margin-right: 340px;">
                    <button style="text-align: left;" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div>
                    <button id="save_checkout" type="button" onclick="check_out()" class="btn btn-warning">Save</button>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you would like to delete this part?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-footer">
                <div style="position: relative; margin-right: 320px;">
                    <button style="text-align: left;" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div>
                    <button  type="button" onclick="delete_part()" class="btn btn-warning">Confirm</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Update</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>

            <div class="modal-body">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" >Name</span>
                    </div>
                    <input type="text" id="partName" class="form-control">

                  </div><br>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Quantity</label>
                    <select class="form-control" id="FormSelect42">

                    </select>
                  </div>


            </div>
            <div class="modal-footer">
                <div style="position: relative; margin-right: 340px;">
                    <button style="text-align: left;" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div>
                    <button id="save_update" type="button" onclick="noname()" class="btn btn-warning">Save</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Image</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>

            <div class="modal-body">
                <img id="myImg" src="" alt="No Image Found" style="max-width: 460px" >
                <form id="form" method=POST enctype=multipart/form-data action="/Parts/Upload/Image">
                    <input type=file name=file>
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="modal-footer">
                <div style="position: relative; margin-right: 140px;">
                    <button style="text-align: left;" style="white-space: nowrap ;" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div>
                    <button id="update_pic" type="button" style="white-space: nowrap ;" onclick="show_update()" class="btn btn-warning">Update Image</button>
                </div>
                <div>
                    <button id="delete_pic" type="button" style="white-space: nowrap ;" onclick="" class="btn btn-danger">Delete Image</button>
                </div>
              </div>
          </div>
        </div>
      </div>
<div id="div_data" style="display: none">

</div>
</body>
<script>
    function show_update(){
        $("#myImg").css({'display':'none'})
        $("#form").css({'display':''})
    }
</script>
<script>
    function delete_image(pic_id) {
        var item = {id: pic_id}
        $.ajax({
            type: "POST",
            url: location.origin + "/Parts/Delete/Image",
            data: "sendData=" + JSON.stringify(item),
            dataType: "json",
            success: function (data) {
                console.log("success")
                $("#exampleModalCenter4").modal('toggle')
            }
        });
    }
</script>
<script>
$(document).ready(function() {
    $('#example').DataTable( {
        type: "GET",
        ajax: {
            url: location.origin + "/Parts/Data",
            dataSrc: "data"

        },
        bAutoWidth: false,
        columns: [
            { data: "name", title: "Name" },
            { data: "location", title: "Location" },
            { data: "quantity", title: "Quantity" },
            { data: "supplier", title: "Supplier" },
            {
                data: "id",
                sWidth: "260px",
                render: function (data, type, row) {
                    return '&nbsp<button onclick="checkOut(' + data + ')" type="button" class="btn btn-primary">Check Out</button>&nbsp<button onclick="update_part(' + data + ')" type="button" class="btn btn-warning">Update</button>&nbsp<button onclick="deletePart(' + data + ')" type="button" class="btn btn-danger">Delete</button>';
                }
            },
            {
                data: "id",
                sWidth: "75px",
                render: function (data, type, row) {
                    return '<button onclick="getImage('+data+')" type="button" class="btn btn-primary">Image</button>';

                }
            }
        ]
    } );
} );
</script>
<script>
    function getImage(id) {
        var d = new Date()
        $("#myImg").attr("src","/Parts/Images/"+id+'.jpg?'+d.getMilliseconds());
        $("#myImg").css({'display':''})
        $("#form").attr("action","/Parts/Upload/Image/"+id)
        $("#form").css({'display':'none'})
        $("#delete_pic").attr("onclick", 'delete_image('+id+')')
        $("#exampleModalCenter4").modal('toggle')
    }
</script>
<script>
    function update_part(data) {
        $("#div_data")[0].innerHTML = data
        item = {id: data}

        $.ajax({
            type: "POST",
            url: location.origin+"/Parts/Get",
            data: "sendData=" + JSON.stringify(item),
            dataType: "json",
            success: function (data) {
                // populate quantitys
                var temp = ""
                for(i = 0; i < 51; i++) {
                    temp += '<option value="'+i+'">'+i+'</option>'
                }
                $("#FormSelect42").html(temp)
                $("#partName").val(data.name)
                if($("#FormSelect42").val() == undefined) {
                    $("#save_update").attr('Disabled', true)
                } else {
                    $("#save_update").attr('Disabled', false)
                }

                $("#exampleModalCenter3").modal('toggle')
            },
            error: function () {
                alert("OPERATION FAILED. TRY AGAIN")
            }
        });
    }
</script>
<script>
    function noname() {
       item = {id: $("#div_data")[0].innerHTML, quantity: $("#FormSelect42").val(), name: $("#partName").val()}
        $.ajax({
            type: "POST",
            url: location.origin+"/Parts/Set",
            data: "sendData=" + JSON.stringify(item),
            dataType: "json",
            success: function (data) {
                $("#exampleModalCenter3").modal('toggle')
                location.reload()
            },
            error: function () {
              alert("OPERATION FAILED. TRY AGAIN")
            }
          });
    }
</script>
<script>
    function checkOut(data) {
        $("#div_data")[0].innerHTML = data
        item = {id: $("#div_data")[0].innerHTML}
        $.ajax({
            type: "GET",
            url: location.origin+"/Equipment/Data",
            success: function (data) {
                var temp1 = ""
                for(i = 0; i < data.data.length; i++) {
                    temp1 += '<option value="'+data.data[i].id+'">'+data.data[i].name+'</option>'
                }
                $("#FormSelect2").html(temp1)
                // populate with machines
                $.ajax({
                    type: "POST",
                    url: location.origin+"/Parts/Get",
                    data: "sendData=" + JSON.stringify(item),
                    dataType: "json",
                    success: function (data) {
                        // populate quantitys
                        var temp = ""
                        for(i = 1; i <= data.quantity; i++) {
                            temp += '<option value="'+i+'">'+i+'</option>'
                        }
                        $("#FormSelect1").html(temp)

                        if($("#FormSelect1").val() == undefined || $("#FormSelect2").val() == undefined) {
                            $("#save_checkout").attr('Disabled', true)
                        } else {
                            $("#save_checkout").attr('Disabled', false)
                        }

                        $("#exampleModalCenter").modal('toggle')
                    },
                    error: function () {
                    alert("OPERATION FAILED. TRY AGAIN")
                    }
                 });
            },
            error: function () {
              alert("OPERATION FAILED. TRY AGAIN")
            }
          });
    }
</script>
<script>
    function deletePart(data) {
        $("#div_data")[0].innerHTML = data
        $("#exampleModalCenter2").modal()
    }
</script>
<script>
    function delete_part() {
        item = {id: $("#div_data")[0].innerHTML}
        $.ajax({
            type: "POST",
            url: location.origin+"/Parts/Delete",
            data: "sendData=" + JSON.stringify(item),
            dataType: "json",
            success: function (data) {
                $("#exampleModalCenter2").modal('toggle')
                location.reload()
            },
            error: function () {
              alert("OPERATION FAILED. TRY AGAIN")
            }
          });
    }
</script>
<script>
    function check_out() {
        item = {id: $("#div_data")[0].innerHTML, machine: $("#FormSelect2").val(), quantity: $("#FormSelect1").val()}
        $.ajax({
            type: "POST",
            url: location.origin+"/Parts/Update",
            data: "sendData=" + JSON.stringify(item),
            dataType: "json",
            success: function (data) {
                $("#exampleModalCenter2").modal('toggle')
                location.reload()
            },
            error: function () {
              alert("OPERATION FAILED. TRY AGAIN")
            }
          });
    }
</script>
</html>
